[Unit]
Description=Run usb-plug.sh
[Service]
Type=oneshot
ExecStart=/home/pi/nextcloudpi-scripts/scripts/usb-plug/usb-plug.sh
[Install]
WantedBy=multi-user.target
