[Unit]
Description=Restarts nextcloudpi docker server

[Service]
Type=oneshot
ExecStart=/home/pi/nextcloudpi-scripts/scripts/restart-nextcloudpi/restart-nextcloudpi.sh

[Install]
WantedBy=multi-user.target
